﻿@model BASE.ENTITIES.Domain.Customer

@{
    ViewBag.Title = "Details";
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Details</h3>
    </div>
    <div class="box-body">
        <div class="row col-xs-12 col-sm-6">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="control-text">
                            @Html.DisplayFor(model => model.FirstName)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="control-text">
                            @Html.DisplayFor(model => model.LastName)
                        </label>

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreatedAt, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="control-text">
                            @Html.DisplayFor(model => model.CreatedAt)
                        </label>

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="control-text">
                            @Html.DisplayFor(model => model.CreatedBy)
                        </label>

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UpdatedAt, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="control-text">
                            @Html.DisplayFor(model => model.UpdatedAt)
                        </label>

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UpdatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="control-text">
                            @Html.DisplayFor(model => model.UpdatedBy)
                        </label>

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DeletedAt, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="control-text">
                            @Html.DisplayFor(model => model.DeletedAt)
                        </label>

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DeletedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="control-text">
                            @Html.DisplayFor(model => model.DeletedBy)
                        </label>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="row col-xs-12 col-sm-6">
            @Html.ActionLink("Back to List", "Index", null, new {@class= "btn btn-default" })
            <a href="@Url.Action("Edit", "Customers", new { id = Model.Id })" class="btn btn-info"><i class="fa fa-pencil"></i> Edit </a>
        </div>
    </div>
</div>
