﻿@model BASE.ENTITIES.Domain.Customer

@{
    ViewBag.Title = "Edit";
}

<div class="box">
    @using (Html.BeginForm())
    {
        <div class="box-header with-border">
            <h3 class="box-title">Edit</h3>
        </div>

        <div class="box-body">
            <div class="row col-xs-12 col-sm-6">

                @Html.AntiForgeryToken()

                <div class="form-horizontal">
              
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="box-footer">
            <div class="row col-xs-12 col-sm-6">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                <button type="submit" class="btn btn-info pull-right"><i class="fa fa-floppy-o"></i> Save</button>
            </div>
        </div>

    }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
