﻿@model IEnumerable<BASE.ENTITIES.Domain.Customer>

@{
    ViewBag.Title = "Index";
}

@section AddCSS{
    <link href="@Url.Content("~/Scripts/plugins/datatables/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
}

<div class="box">
    
    <p>@ViewBag.star</p>
    <p>@ViewBag.length</p>

    <div class="box-header with-border">
        <h3 class="box-title">
            List
        </h3>
        @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-default pull-right"})
    </div>

    <div class="box-body">

        <table id="dataTable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedBy)
                </th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody></tbody>

            <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedBy)
                </th>
                <th>Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>

</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/datatables/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/moment/moment.min.js")"></script>

    <script>

        var _detail = '<a href="@Url.Action("Details", "Customers", new {id = "params"})" class="btnActionRow" title="view details"><i class="fa fa-plus-square-o"></i></a>';
        var _edit   = '<a href="@Url.Action("Edit", "Customers", new {id = "params"})" class="btnActionRow" title="edit"><i class="fa fa-pencil"></i></a>';
        var _delete = '<a href="@Url.Action("Delete", "Customers", new {id = "params"})" class="btnActionRow btnDeleteRow" title="delete"><i class="fa fa-trash-o"></i></a>';
        
        var table = $('#dataTable')
            .DataTable({
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "Customers/GetPage",
                    "type": "POST",
                    "dataType": "json",
                    "dataSrc": "data"
                },
                "columns": [
                    { data: "FirstName" },
                    { data: "LastName" },
                    {
                        data: "CreatedAt",
                        "type": "date",
                        "render":
                            function(data, type, full) {
                                return (data) ? moment(data).format('DD/MM/YYYY') : '';
                            }
                    },
                    { data: "CreatedBy" },
                    {
                        data: "UpdatedAt",
                        "type": "date",
                        "render":
                            function(data, type, full) {
                                return (data) ? moment(data).format('DD/MM/YYYY') : '';
                            }
                    },
                    { data: "UpdatedBy" },
                    { data: "DeletedAt" },
                    { data: "DeletedBy" },
                    {
                        data: "Id",
                        "type": "numeric",
                        "render": function(data, type, full, meta) {

                            var butonDetail = _detail.replace("params", data);
                            var buttonEdit = _edit.replace("params", data);
                            var buttonDelete = _delete.replace("params", data);

                            return butonDetail + buttonEdit + buttonDelete;
                        },
                        "createdCell": function(td, cellData, rowData, row, col) {
                            $(td).addClass('text-center');
                        }
                    }
                ],
                "drawCallback": function() {
                    btnDeleteRow();
                },
                "initComplete": function () {
                    $("#dataTable").wrap("<div class='table-responsive'></div>");                    $("#dataTable").css("width", "100%");
                }

            });

        function btnDeleteRow() {
            $('.btnDeleteRow')
                .click(function(e) {

                    e.preventDefault();
                    var _this = $(this);
                    var url = _this.prop('href');

                    alertify.confirm('Base CMS',
                        'Are you sure to delete the record?',
                        function() {
                            $.post(url,
                                    function(data) {
                                        if (data.value == 1) {

                                            _this.closest('tr').find('a').css('color', '#fff');

                                            _this.closest('tr')
                                                .children()
                                                .css('background', '#ed2f5e')
                                                .css('color', '#fff')
                                                .delay(300)
                                                .slideUp(300)
                                                .queue(function() {
                                                    _this.closest('tr').remove().dequeue();
                                                    table.ajax.reload(null, false);
                                                });
                                        } else {
                                            alertify.alert('Error', data.mensaje);
                                        }
                                    },
                                    "json")
                                .fail(function () {
                                    alertify.alert('Error', 'An error occurred while attempting to delete the record');
                                });
                        },
                        function () {

                        });
                });
        }

    </script>
}
