﻿.sidebar-mini .size-ico-user {
    font-size: 3.4em;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.sidebar-mini.sidebar-collapse .size-ico-user {
    font-size: 2.2em;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.btnActionRow {
    margin: 0 6px;
}

.control-text {
    font-weight: normal;
    padding-top: 7px;
    text-align: left;
}